@font-face {
	font-family: "Boxcutter Bold";
	src: 
	url("assets/fonts/boxcutter-bold.eot"),
	url("assets/fonts/boxcutter-bold.woff") format("woff"),
	url("assets/fonts/boxcutter-bold.otf") format("opentype"),
	url("assets/fonts/boxcutter-bold.svg") format("svg");
}
/*--mobile--*/
body {
	margin: 0;
	background-image: url("assets/background.jpg");
	background-size: cover;
}
.top {
	position: relative;
	padding-bottom: 33.33%;
	padding-top: 0px;
	height: 0;
	z-index: 1;
}
.top video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
.top #muteButton {
	position: absolute;
  	right: 1vmin;
  	bottom: 1vmin;
  	display: block;
	height: 2vmin;
	width: auto;
	-moz-border-radius: 3vmin;
	border-radius: 3vmin;
	background-color: #f5de43;
	padding: 1vmin;
	background-clip: padding-box;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.top #muteButton:hover {
	background-color: #ee2036;
	transform: scale(1.1);
}
.header {
	position: fixed;
	padding-bottom: 15%;
	padding-top: 0;
	height: 0;
	width: 100%;
	z-index: 2;
}
.header #logo {
	width: 30vmin;
	height: 6vmin;
	position: absolute;
	margin: 2vmin;
    color: white;
	background-color: #00afd8;
	font-family: "Boxcutter Bold";
	font-size: 4vmin;
	text-decoration: none;
	text-align: center;
	line-height: 6vmin;+
}
.header ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}
.header li {
	float: right;
	padding: 2vmin;
	font-family: "Boxcutter Bold";
}
.header li a {
	display: block;
	height: 6vmin;
	width: 6vmin;
	line-height: 6vmin;
	-moz-border-radius: 3vmin;
	border-radius: 3vmin;
	background-color: #f5de43;
	color: white;
	text-align: center;
	font-size: 2vmin;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
.header li a:hover:not(.active) {
	background-color: #ee2036;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	transform: scale(1.1);
}
.header li a.active {
	color: white;
	background-color: #00afd8;
}
.topSlides {
	position: relative;
	padding-bottom: 33.33%;
	padding-top: 0px;
	height: 0;
	z-index: 1;
}
.activeSlide {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
	background-color: #717171;
}
.slide img{
	width: 100%;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: auto;
	width: 100%;
	margin: 6vmin 0 14vmin 0;
	align-items: center;
	justify-content: center;
}
.body > div {
	width: 70vw;
    height: 112vw;
    min-width: 250px;
    max-width:500px;
    min-height: 400px;
    max-height: 800px;
    background-color: #ffffff;
	padding: 1vw;
	background-clip: content-box;
}
.shopItem {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: flex-start;
}
.itempic {
	height: 50%;
	width: auto;
	display: block;
	margin: 0 auto 0 auto;
	padding: 0;
}
.shtitle {
	margin: 0 0 0 40px;
	height: auto;
	width: 100%;
	padding: 0;
	display: block;
}
.shdesc {
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
	height: auto;
	width: 65%;
	padding: 0;
}
.shprice {
	display: inline-block;
	float: right;
	margin: 0 20px 0 0;
	text-align: right;
	height: auto;
	width: auto;
	padding: 0;
}
.shmore a {
	margin: auto auto auto auto;
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	background-color: #ee2036;
	color: white;
	text-align: center;
	font-family: Arial;
	font-size: 70px;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
.shmore a:hover {
  	background-color: #f5de43;
  	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  	transform: scale(1.1);
 }
.shtitle h3 {
	font-family: Arial;
	font-size: 18px;
	font-weight: 900;
	margin: 0px 0 15px 0;
}
.shdesc p {
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}
.shprice h4 {
	font-family: Arial;
	font-size: 18px;
	font-weight: 800;
	margin: 0;
}
.spotify{
	display: flex;
  	justify-content: center;
 	align-items: center;
}
.spotify iframe {
	width: 93%;
	height: 95%;
	display:block;
	position: relative;
    margin: auto;
}
.demo {
	display: flex;
  	justify-content: center;
 	align-items: center;
 	position: relative;
}
.demo canvas {
	height: 95%;
	width: 93%;
	z-index: 5;
}
.demo a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.demo img {
	position: absolute;
	width: 100%;
	z-index: 1;
}
.musicItem {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: flex-start;
}
.muTitle {
	margin: 5%;
	height: auto;
	width: 100%;
	padding: 0;
	display: block;
}
.muTitle h3 {
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	font-weight: 900;
	margin: 0px 0 15px 0;
}
.albumCover {
	height: 50%;
	width: auto;
	display: block;
	margin: 10%;
	padding: 0;
	outline:  3px solid #ee2036;
}
.muLinks{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
 	align-items: center;
 	margin: 5%;
}
.muLinks img {
	height: 15vmin;
	max-height: 100px;
	width: auto;
	padding: 10px;
	transition: all .2s ease-in-out;
	filter: opacity(85%);
}
.muLinks img:hover {
	filter: opacity(100%) drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	transform: scale(1.1);
}
.about{
	display: flex;
	height: auto;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
}
.content {
	margin: auto;
	width: 80%;
	background-color: #ffffff;
	padding: 3vmin 3vmin 12vmin 3vmin;
	background-clip: content-box;
}
.content p {
	font-family: Arial;
	font-size: 1.3em;
	font-weight: 500;
	margin: 3vmin 3vmin 0 3vmin;
	padding: 0;
	line-height: 1.3em;
}
.content b {
	font-family: Arial;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.content #rightapos {
	text-align: right;
	padding: 0;
	margin: -0.5em 3vmin 0 0;
}
.socialBody {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
	width: 100%;
	margin: auto;
	padding: 12vmin 0 10vmin 0;
	align-items: center;
	justify-content: center;
}
.socialItems {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
	width: auto;
	align-items: center;
	justify-content: center;
}
.socialItem {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	position:relative;
	height: 20vmin;
	width: 70vmin;
	padding: 1vw;
	margin: 0;
	background-color: #ffffff;
	background-clip: content-box;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.socialItem a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.socialItem img {
	width: 18%;
	height: auto;
	display: inline-block;
	float: left;
	filter: saturate(95%);
	transition: all .2s ease-in-out;
}
.socialItem h3 {
	text-align: center;
	font-family: Arial;
	font-size: 5vmin;
	font-weight: 750;
	margin: 0;
	width: 60%;
	display: inline-block;
	float: right;
	text-decoration: none;
	text-align: center;
	transition: all .2s ease-in-out;
}
.socialItem:hover img {
	filter: saturate(120%) drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	transform: scale(1.1);
}
.socialItem:hover h3 {
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	transform: scale(1.1);
}
.emailForm {
	background-color: #ffffff;
	background-clip: content-box;
	padding: 1vw;
	width:	70vmin;
	height: 100%;
	display: flex;
  	flex-flow: column wrap;
  	align-items: center;
}
.emailForm form {
	width: 90%;
	height: 100%;
	padding: 2vmin;
}
.emailForm label {
	padding: 1vmin;
}
input[type=text], select, textarea {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px; 
	box-sizing: border-box; 
	font-family: "Arial";
	font-size: 3vmin;
	font-weight: 600;
	padding: 1vmin;
	margin: 1vmin 0 1vmin 0;
	resize: vertical;
}
#subject , select, textarea {
	width: 100%;
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box;
	padding: 1vmin;
	height: 33vmin;
	resize: vertical;
}
input[type=submit] {
	background-color: #f5de43;
	color: white;
	font-family: "Arial";
	font-size: 3vmin;
	font-weight: 600;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 1vmin 0 1vmin 0;
	width:100%;
	transition: all .2s ease-in-out;
}
input[type=submit]:hover {
	background-color: #ee2036;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	transform: scale(1.05);
}
.footer {
	position: fixed;
	width:100%;
	background-color: #f5de43;
	outline:  3px solid #ee2036;
	height: auto;
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.footer p{
	padding: 0;
	margin: 0;
}
.copyright {
	display: inline-block;
	width: auto;
	text-align: left;
	padding: 0;
	font-family: "Boxcutter Bold";
	font-size: 6vmin;
	margin: 0 0 0 0;
}
.copyright sup {
	font-family: "Arial";
	font-size: 2vmin;
}
.backtotop {
	display: inline-block;
	width: auto;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: "Arial";
	font-size: 8vmin;
	cursor: pointer;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}
.socials {
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.socials img {
	height: 6vmin;
	min-height: 35px;
	width:auto;
	padding: 2px 12px 0 0;

}
/*--desktop--*/
@media only screen and (min-width: 992px) {
	.body{
		flex-wrap: wrap;
		flex-direction: row;
		margin: 6vmin 0 8vmin 0;
	}
	.body > div {
		width: 28vw;
    	height: 45vw;
		min-width: 300px;
		max-width:350px;
		min-height: 480px;
		max-height: 560px;
	}
	.content {
		width: 80vw;
		min-width: 300px;
		max-width: 1000px;
	}
	.shmore a {
		height: 80px;
		width: 80px;
		line-height: 80px;
		-moz-border-radius: 80px;
		border-radius: 80px;
		font-size: 90px;
	}
	.muLinks img {
		height: 8vmin;
		max-height: 70px;
	}
	.emailForm {
		height:55vmin;
		width: 60%;
	}
	#subject , select, textarea {
		height: 48%;
	}
	.socials img {
		min-height: 10px;
		height: 2.5vmin;
	}
	.socialBody {
		flex-direction: row;
	}
	.socialItem {
		height: 8.5vmin;
		width: 30vmin;
	}
	.socialItem h3 {
		font-size: 2.5vmin;
	}
	.backtotop {
		font-size: 2.5vmin;
	}
	.copyright {
		font-size: 2.5vmin;
	}
	.copyright sup {
		font-size: 1vmin;
	}
}
/*------------*/